<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <h2>NGB Modals</h2>
        <p>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">It's a modal!</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              

          
              <button class="btn btn-lg btn-outline-primary" (click)="open(content2)">Launch the inner modal</button>

              <!-- Inner Modal -->
              <ng-template #content2 let-modal2>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">It's another modal!</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal2.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <h3>Some inner content</h3>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                      <p>Big long text</p>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal2.close('Save click')">Save</button>
                </div>
              </ng-template>
              <!-- /Inner Modal -->

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
            </div>
          </ng-template>
          
          <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
        </p>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h2>ABP Modal</h2>
        <p>

          <button (click)="openOuterModal()">Open Modal</button>

          <abp-modal [(visible)]="isModalOpen">
            <ng-template #abpHeader>
              <h3>ABP Modal</h3>
            </ng-template>
          
            <ng-template #abpBody>

          <button (click)="openInnerModal()">Open Inner Modal</button>


              <abp-modal [(visible)]="isModalOpen2">
                <ng-template #abpHeader>
                  <h3>ABP Modal</h3>
                </ng-template>
              
                <ng-template #abpBody>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                    <p>Loads of content</p>
                </ng-template>
              
                <ng-template #abpFooter>
                  <button type="button" class="btn btn-secondary" #abpClose>
                    {{ '::Close' | abpLocalization }}
                  </button>
              
                </ng-template>
              </abp-modal>


            </ng-template>
          
            <ng-template #abpFooter>
              <button type="button" class="btn btn-secondary" #abpClose>
                {{ '::Close' | abpLocalization }}
              </button>
          
            </ng-template>
          </abp-modal>

        </p>
      </div>
    </div>
  </div>
</div>
