<div class="container">
  <div style="height: 2000px; background-color: aqua">
    <p>1. Click to open the first modal</p>
    <abp-button (click)="openModalOne()">Open 1st modal</abp-button>
  </div>
</div>

<abp-modal [busy]="isModalOneBusy" [(visible)]="isModalOneOpen">
  <ng-template #abpHeader>
    <h3>Modal One</h3>
  </ng-template>

  <ng-template #abpBody>
    <div style="height: 3000px; background-color: red">
    <p>2. Notice you can scroll this modal</p>
    <p>3. Now click to open the second modal</p>
    <abp-button (click)="openModalTwo()">Open 2nd modal</abp-button>
      <p>6. Try scrolling this modal now... You can't, the page behind scrolls</p>
      <p>7. Manually add the 'modal-open' class back on the body element and notice that you can scroll this modal again.</p>
    </div>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" #abpClose>
      {{ 'AbpUi::Close' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>



<abp-modal [busy]="isModalTwoBusy" [(visible)]="isModalTwoOpen">
  <ng-template #abpHeader>
    <h3>Modal Two</h3>
  </ng-template>

  <ng-template #abpBody>
    <div style="height: 4000px; background-color: green">
      <p>4. Open dev tools and note the 'modal-open' class on the body.</p>
      <p>5. Now close this modal and notice the 'modal-open' class is removed from the body.</p>
    
    </div>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" #abpClose>
      {{ 'AbpUi::Close' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>
